
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

/************ authors ***************/

.author img {
    width: 30px;
    border-radius: 4px;
}

/************ repos ***************/

.repos {
    list-style-type: none;
    margin: 0;
}

/************ pull requests ***************/

.pulls {
    list-style-type: none;
    margin: 0;
}

.pulls .pull {
    margin: 10px 0 10px 0;
    clear: both;
    width: 100%;
}

.pulls .pull h2 {
    margin-top: 0;
    font-size: 1.5em;
    line-height: 1.5em;
}

.pulls .pull .author {
    float: right;
}

.pulls .pull p {
    margin: 10px 0 0 0;
    color: #777;
}

.pulls .pull .age,
.pulls .pull .desc {
    float: left;
}

.pulls .pull .desc {
    width: 555px;
}

.pulls .pull .age {
    width: 50px;
    height: 50px;
    margin: 0 15px 15px 0;
    border-radius: 10px;
    opacity: 0.8;
}

/************ age colors ***************/

.age-seconds .age { background-color: #dfd; }
.age-minutes .age { background-color: #993; }
.age-hours .age { background-color: #930; }
.age-days .age { background-color: #900; }

